* {
  margin: 0;
}

.App {
  text-align: center;
  background-color: lightseagreen;
  padding-bottom: 40px;
}

.header {
  padding: 30px;
}

.title {
  color: rgba(82, 92, 5, 0.9);
}

.title-en {
  font-family: "Bigelow Rules";
  font-size: 72px;
}

.title-cn {
  font-size: 30px;
  padding-bottom: 40px;
}
